@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --black: rgba(26, 25, 25, 0.87);
    --green: rgb(19, 143, 19);
    --blue: rgb(41, 41, 199);
    --desktop: 1200px;
    --laptop: 1024px;
    --tablet: 768px;
    --phone: 480px;
}

body{
    position: relative;
}

/*-----------------HEADER CSS-----------------*/

#max-width{
    margin: 0 100px;
    max-width: 1020px;
}

header{
    position: relative;
    height: 50px;
    max-width: 1020px;
}

header nav{
    display: flex;
    justify-content: center;
    position: fixed;
}

#logo{
   width: 150px;
}


#head-text{
    margin-top: 20px;
    font-size: 33px;
    font-weight: bold ;
    color: var(--green);
    background: white;
    height: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    border: 2px solid var(--green);
}

#menu{
    margin-top: 20px;
    margin-left: 20px;
}

#menu ul{
    list-style-type: none;
    position: fixed;
}

#menu ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

/*-----------------HEADER CSS-----------------*/


#bg-video{
    position: fixed;
    width: 100%;
    height: vh;
    z-index: -1;
}

.home-content{
    margin-top: 90px;
    margin-left: 42%;
    padding-right: 20px;
    font-size: 19px;
    font-weight: bolder;
    text-shadow: 10px;
    text-align: justify;
    background: white;
    color: var(--black);
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid var(--green);

}

#enroll-btn{
    text-decoration: none;
    padding: 5px 10px;
    background: var(--green);
    color: white;
    border-radius: 10px;
}

#enroll-btn:hover{
    background-color: red;
}

/*-----------------PHOTO's CSS-----------------*/

.photo img{
    background: white;
    display: flex;
    width: 600px;
    height: 320px;  
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--green);
    margin: 15px;
}

.photo h2{
    margin-top: 20px;
    font-size: 33px;
    font-weight: bold ;
    color: var(--green);
    background: white;
    height: fit-content;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    border: 2px solid var(--green);
}


footer{
   flex-direction: row;
   margin-top: 20px;
   font-size: 12px;
   font-weight: bold ;
   color: var(--black);
   background: white;
   height: fit-content;
   padding: 3px 10px;
   border-radius: 10px;
   border: 2px solid var(--green);
}


footer span{
    color: red;
    font-size: 18px;
}

/*-----------------Video bg responsive-----------------*/
@media(min-aspect-ratio: 16 / 9) {
    #bg-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16 / 9) {
    #bg-video{
        width: auto;
        height: 100%;
    }
}


/*-----------------Mobile responsive-----------------*/
@media screen and (max-width: 480px){

    #max-width{
        margin: 0 10px;
        max-width: 480px;
    }

    header{
        position: relative;
        height: 10px;
        max-width: 100px;
    }

    #head-text{
        font-size: 14px;
        font-weight: bold ;
    }

    #logo{
        width: 60px;
        margin-top: 10px;
    }

    #menu{
        margin-top: 10px;
        margin-left: 5px;
    }

    #menu ul li a{
        font-weight: none;
        font-size: 14px;
        display;
    }

    .home-content{
        margin-top: 60px;
        margin-left: 0;
        font-size: 12px;
    }

    .photo h2{
        margin-top: 0px;
        font-size: 14px;
    }


    .photo img{
        width: 400px;
        height: 200px; 
        margin: 0;
    }
}


