body::before {
    display: block;
    content: '';
    height: 50px;
}

#bg-image {
    background: linear-gradient(white,rgb(3, 95, 3));
}


#carouselExampleAutoplaying{
    width: 85%;
}

.carousel-inner{
    border: 2px solid rgb(2, 107, 2);
}

.btn{
    box-shadow: 0 0 5px 5px rgb(223, 214, 214);
}

#inviteBg{
    background: url('image/inviteBg.jpg') no-repeat center;
    background-size: cover;
    height: 80vh;
}

#inviteBg h1{
    text-shadow: 0 0 10px black;
}

#contactInfo{
    background: rgb(1, 68, 1);
}

#map{
    width: 600;
    height: 250;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}
